.inspector-body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.navbar-dark {
    background-color: #101010;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
    color: #9d9d9d;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.inspector-body {
    margin-top: 80px;
    margin-right: 40px;
    margin-left: 40px;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

body {
    height: 100%;
    overflow-y: hidden;
}

pre,
code {
	font-family: Consolas, Menlo, "Andale Mono", Monaco, monospace;
}

.wrapped {
	word-wrap: break-word;
	word-break: break-word;
	overflow: hidden;
}

#all-request > tbody > tr:hover {
    background-color: rgba(239, 237, 237, 0.889);
    cursor: pointer;
}

.tab-content {
    margin-top: 1.5rem;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}